<div class="jumbotron text-center">
    <h1>JOHN
        <br />BOND</h1>
    <p>Instigator | Synergist | Engineer | Fly Fisher</p>
</div>

<!-- Container (About Section) -->
<div id="about" class="container-fluid">
    <div class="row">
        <div class="col-sm-8 col-xs-11">
            <h2>About Me</h2>
            <h3>"Whatever you are, be a good one!"</h3>
            <p>Nothing energizes me more than watching a new idea come to life! Since I was a young lad, this perspective has
                provided endless motivation to experiment with just about everything and learn even more. Throughout my career,
                I've had amazing opportunities to explore challenging technical fields, gain invaluable skills, develop my
                strengths, and understand my weaknesses. Learning, creating, making things happen, and influencing people
                are what I do best. I've been at it for 10 years and don't plan on stopping anytime soon.</p>
            <p>Thank you for visiting my site!</p>
        </div>
        <div class="col-sm-4 col-xs-12">
            <img src="images/ProfilePicture.jpg" class="img-rounded" height="350" />
        </div>
    </div>
</div>

<!-- Container (Skills Section) -->
<div id="skills" class="container-fluid text-center bg-grey">
    <h2>[mad] SKILLS</h2>
    <h4>PROFESSIONAL EXPERIENCE</h4>
    <div class="progress">
        <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0"
            aria-valuemax="100" style="width:100%">10 YEARS</div>
    </div>
    <br>
    <div class="row slideanim">
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-briefcase logo-small"></span>
            <h4>SOFTWARE</h4>
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label">XP</label>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100" style="width:100%;">7 YEARS</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label">WEB</label>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                            style="width:90%;">.NET MVC | REST | RoR</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label">DB</label>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                            style="width:90%;">MongoDB | MSSQL | Postgres | MySQL</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label">UI</label>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                            style="width:70%">JavaScript | ajax | css | html</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label">TEST</label>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                            style="width:60%">NUnit | MSTest | Unit&amp;Integration</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-tasks logo-small"></span>
            <h4>INFRASTRUCTURE</h4>
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label">XP</label>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                            aria-valuemax="100" style="width:100%;">3 YEARS</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label">OS</label>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%;">Ubuntu | MS | Kali</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label">Cloud</label>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:80%">AWS | Azure</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label">WEB</label>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:80%">Nginx | IIS | Apache</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label">Admin</label>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:65%">Bash | PS</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-4">
            <span class="glyphicon glyphicon-wrench logo-small"></span>
            <h4>MISC</h4>
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label">PM</label>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                            style="width:100%">JIRA | Confluence | Planning | Forecasting</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label">OAuth2</label>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"
                            style="width:90%;">Just Ask!</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label">Agile</label>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                            style="width:75%">Scrum | Kanban | Mixed</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label">Delivery</label>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                            style="width:70%;">Git | TeamCity | BitBucket | Octopus</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <label class="control-label">People</label>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                            style="width:65%">Leadership | Training | Mentoring</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
    <br>
</div>

<!-- Container (Resume - Work Experience Section) -->
<div id="work" class="container-fluid text-center">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <h2>Work Experience</h2>
            <br>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-11 col-xs-11 text-left">
                <div class="row">
                    <h3>Software Devleoper</h3>
                    <p>
                        <strong>TwentyEighty</strong> - Littleton, CO (current)</p>
                    <p>As the lead software developer on a small team, I was directly involved all aspects of projects in an
                        enterprise environment. My primary responsibility was to design and implement customer-facing web
                        applications and services (all layers of the stack). Due to our small team and lack of resources,
                        I filled the gaps by planning &amp; managing projects, leading scrums, developing requirements and
                        learning new platforms :]</p>
                </div>
                <div class="row text-left">
                    <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#accomplishments-sd">
                        <span>Accomplishments </span>
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                    </button>
                    <div id="accomplishments-sd" class="collapse">
                        <ul>
                            <li>Built a custom IdP &amp; OAuth2 single sign-on from scratch</li>
                            <li>Developed new standards for domain-driven architecture, automated testing and database design</li>
                            <li>Planned and executed a large-scale refactoring project that set a precident for future projects</li>
                            <li>Designed full-scale APIs &amp; cloud infrastructure (in 1 day) for several data migration projects</li>
                            <li>Uncovered and mitigated significant security vulnerabilities</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-11 col-xs-11 col-md-push-4 text-left">
                <div class="row">
                    <h3>Software Developer</h3>
                    <p>
                        <strong>Freelance</strong> - Littleton, CO (2/16 - 2/17)</p>
                    <p>As the only software developer, I worked with entrepreneurs to built a large scale marketing web application.
                        I was responsible for all software development, cloud infrastructure, QA, and system administration.</p>
                </div>
                <div class="row text-left">
                    <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#accomplishments-l2">
                        <span>Accomplishments </span>
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                    </button>
                    <div id="accomplishments-l2" class="collapse">
                        <ul>
                            <li>Designed and maintained cloud infrastructure in AWS cloud with dev and prod environments</li>
                            <li>Deployed/configured load balancers, web servers, DNS, and https</li>
                            <li>Created an automated data migration framework for NoSQL databases</li>
                            <li>Developed all aspects of the web application in .NET Core</li>
                            <li>Interactive front-end design using jQuery and bootstrap</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-11 col-xs-11 col-md-push-4 text-left">
                <div class="row">
                    <h3>Programmer Analyst</h3>
                    <p>
                        <strong>Aerotech, Inc</strong> - Pittsburgh, PA (2/14 - 2/16)</p>
                    <p>Most often, my needs-assements would call for custom web-based business applications. But, in the programmer
                        analyst role at Aerotech, my goal was to determine if and how technology could be used effectively
                        to solve specific business challenges. My interest in complex processes (and my out-going personality)
                        allowed me to gain valuable insights from diverse groups in this innovative manufacturing environment.
                    </p>
                </div>
                <div class="row text-left">
                    <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#accomplishments-pa">
                        <span>Accomplishments </span>
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                    </button>
                    <div id="accomplishments-pa" class="collapse">
                        <ul>
                            <li>Voluntarily revived and managed several large, stagnant projects</li>
                            <li>Led research and proof-of-concept testing that led to implementing new platforms</li>
                            <li>Promoted and heavily influenced the adoption of new technologies that drastically reduced development
                                and design complexity</li>
                            <li>Conceived and designed an innovative code generation tool for customer-facing product configurator</li>
                            <li>Developed and delivered technical training to non-technical colleagues</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-11 col-xs-11 col-md-push-4 text-left">
                <div class="row">
                    <h3>System Integration Engineer</h3>
                    <p>
                        <strong>Aerotech, Inc</strong> - Pittsburgh, PA (4/11 - 2/14)</p>
                    <p>In my first role at Aerotech, my primary goal was to find opportunities for improvement in the engineering
                        design process &amp; implement custom software to improve the group's efficiency. In my spare time,
                        I designed cutting edge motion control systems :]</p>
                </div>
                <div class="row text-left">
                    <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#accomplishments-sia">
                        <span>Accomplishments </span>
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                    </button>
                    <div id="accomplishments-sia" class="collapse">
                        <ul>
                            <li>Developed distributed desktop applications for various manufacturing processes</li>
                            <li>Assembled and managed a small software development team to build custom engineering design software</li>
                            <li>Voluntarily created and delivered a technical training curriculum for new engineers</li>
                            <li>Developed automated data analysis applications used for planning, forecasting, and process improvement</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Container (Resume - Education Section) -->
<div id="education" class="container-fluid text-center">
    <div class="row">
        <div class="col-md-4 col-sm-12 col-xs-12">
            <h2>Education</h2>
            <br>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-11 col-xs-11 text-left">
                <div class="row">
                    <h3>Penn State University - 2010</h3>
                    <p>
                        <strong>Bachelor of Science in Electromechanical Engineering Technology</strong>
                    </p>
                </div>
                <div class="row text-left">
                    <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#highlights">
                        <span>Highlights </span>
                        <span class="glyphicon glyphicon-triangle-bottom"></span>
                    </button>
                    <div id="highlights" class="collapse">
                        <ul>
                            <li>Major GPA: 3.75 | Overall GPA: 3.68</li>
                            <li>Dean's List: Fall 2006 to Spring 2010</li>
                            <li>Mathematics Tutor: Algebra | Calculus | Linear Algebra | Diff. Eq.</li>
                            <li>Student Researcher: Psychology &amp; Engineering research on visual/spacial skills development</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="portfolio" class="container-fluid text-center">
    <div class="row">
        <h2>Portfolio</h2>
        <br>
        <div class="row text-center slideanim">
            <div class="col-sm-4">
                <h4><a href="/reports">Car Tuning Data Analysis</a></h4>
                <div class="thumbnail">
                    <img src="/images/ProfilePicture.jpg" alt="New York">
                    <p>
                        <strong></strong>
                    </p>
                    <p>Yes, we built that</p>
                </div>
            </div>
            <div class="col-sm-4">
                <h4><a href="/reports">Car Tuning Data Analysis</a></h4>
                <div class="thumbnail">
                    <img src="/images/ProfilePicture.jpg" alt="New York">
                    <p>
                        <strong></strong>
                    </p>
                    <p>Yes, we built that</p>
                </div>
            </div>
            <div class="col-sm-4">
                <h4><a href="/reports">Car Tuning Data Analysis</a></h4>
                <div class="thumbnail">
                    <img src="/images/ProfilePicture.jpg" alt="New York">
                    <p>
                        <strong></strong>
                    </p>
                    <p>Yes, we built that</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Container (Contact Section) -->
    <div id="contact" class="container-fluid bg-grey text-center">
        <h2>CONTACT</h2>
        <div class="row">
            <div class="col-md-12">
                <p>
                    <span class="glyphicon glyphicon-phone"></span> 724.944.0054</p>
                <p>
                    <span class="glyphicon glyphicon-envelope"></span> john.bond@outlook.com</p>
                <p>
                    <span class="glyphicon glyphicon-map-marker"></span> Denver, CO</p>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Add smooth scrolling to all links in navbar + footer link
            $(".navbar a, footer a[href='#myPage']").on('click', function (event) {
                // Make sure this.hash has a value before overriding default behavior
                if (this.hash !== "") {
                    // Prevent default anchor click behavior
                    event.preventDefault();

                    // Store hash
                    var hash = this.hash;

                    // Using jQuery's animate() method to add smooth page scroll
                    // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 900, function () {

                        // Add hash (#) to URL when done scrolling (default click behavior)
                        window.location.hash = hash;
                    });
                } // End if
            });

            $(window).scroll(function () {
                $(".slideanim").each(function () {
                    var pos = $(this).offset().top;

                    var winTop = $(window).scrollTop();
                    if (pos < winTop + 600) {
                        $(this).addClass("slide");
                    }
                });
            });
        })
    </script>