<div class="container-fluid text-center">
    <h2>Vehicle Performance Data</h2>
    <p>{{error}}</p>
    <div class="dx-viewport" style="max-width:90%;margin:0 auto;">
        <div class="demo-container">
            <div id="gridContainer"></div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {
        var dataSource = new DevExpress.data.CustomStore({
            load: function (loadOptions) {
                var deferred = $.Deferred(),
                    args = {};
                $.ajax({
                    url: 'http://ec2-35-164-142-248.us-west-2.compute.amazonaws.com/SampleData/api/Logs',
                    data: args,
                    //headers: ["Access-Control-Allow-Origin:http://localhost:5000"],
                    //type: "GET",
                    crossDomain: true,
                    success: function (result) {
                        deferred.resolve(result, { totalCount: result.totalCount });
                    },
                    error: function(error){
                        console.log(error);
                        deferred.reject("error");
                    },
                    timeout: 5000
                });
                return deferred.promise();
            }
        });

        $("#gridContainer").dxDataGrid({
            dataSource: {
                store: dataSource
            },
            columns: [
                "Id", "LoggerVersionInfo", "VehicleInfo", "MapInfo"
            ]
        }).dxDataGrid("instance");

    });
</script>